<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src="http://assets.stickpng.com/images/585e4bd7cb11b227491c3397.png" alt="img-avatar">
            </div>
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo">Alejandro Bell</h3>
        </div>
        <div class="perfil-usuario-footer" style="background-color: rgba(0, 71, 255, 1);">
            <ul class="lista-datos">
                <li>Nombre del usuario</li>
                <li>Telefono</li>
                <li>Direccion de usuario</li>
                <li>Correo</li>
            </ul>
            <ul class="lista-datos">
                <li>Alejandro Bell zzz</li>
                <li>987654321</li>
                <li>Mz A Lt 8 Los Jazmines Independencia</li>
                <li>a@gmail.com</li>
            </ul>
        </div>
    </div>
</section>